body{
			background:linear-gradient( to left, #99ffff -10% ,#fff 50%);

	
}

.head-font {
	width:50%;
    font-family: "Tangerine";
	font-size:3vw;
	margin:-2.5vw 0 -5vw 0;
	font-weight:bold;
	border:;
	text-align:center;
	color:#9C9A40;
	text-shadow:2px 3px 3px rgba(0, 0, 0, .2);
}

.wof-gallery-container{
	width:92%;
	margin:auto;
}
.wof-gallery-container h3{
	font-size:2vw;
}
.wof-gallery-box{
	display:inline-block;
	width:15vw;
	margin:1.5%;
}
.wof-gallery-box img{
	width:15vw;
	height:15vw;
	border:8px solid transparent;
	border-image:url(border.png) 30 round;
	position:center;
	box-shadow:6px 7px 8px rgba(0, 0, 0, .3);
	cursor:pointer;
	object-fit:cover;	
}
.wof-gallery-box img:hover{
		opacity:.8;
}
